*~
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
custom.el
url
ede-projects.el
abbrev_defs
tramp
bookmarks
personal/org-mode
personal/multi-web-mode
org-clock-save.el
.org-id-locations
personal-ids.el
